@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.changepw-section {
  max-width: 600px;
  min-height: 100vh;
  background: #ffffff;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

/* 제목 */
.changepw-section h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

/* 폼 전체 */
.changepw-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 라벨 */
.changepw-section label {
  font-weight: 500;
  text-align: left;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 4px;
} 

/* 입력칸 */
.changepw-section input {
  width: 100%;
  max-width: 400px;
  height: 30px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 20px;
}

/* 확인 버튼 */
.changepw-section button[type="submit"] {
  width: 300px;
  height: 45px;
  color: #fff;
  background-color: #0E207F;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}