@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 마이페이지 전체 틀 */
.mypage-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* 마이페이지 제목 */
.mypage-container h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

/* 회원 정보 섹션 */
.user-info {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

/* 회원 정보 제목 */
.user-info h2 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
}

/* 닉네임, 이메일 */
.user-info ul {
  font-size: 17px;
  margin: 0 0 20px 0;
}

.user-info li {
  font-weight: 300;
  margin-bottom: 10px;
}

/* 탈퇴, 비밀번호 변경 버튼 */
.user-info button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 7px 14px;
  background-color: #0E207F;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* 작성글 섹션 */
.post-section {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

/* 작성글 제목 */
.post-section h2 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
}

/* 작성글 없을 때 */
.post-section p {
  font-size: 16px;
}

/* 작성글 테이블 */
.post-section table {
  width: 100%;
  border-collapse: collapse;
}

.post-section th, 
.post-section td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

/* 테이블 제목 */
.post-section th {
  background-color: #f1f1f1;
}

/* 테이블 버튼 */
.post-section button {
  padding: 5px 10px;
  background-color: #0E207F;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* 로그아웃 버튼 */
.logout-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: lightslategray;
  color: #fff;
}

/* display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer; */